.sidebar{
    width: 250px;
    min-width: 250px;
    padding: 20px 20px;
    margin: 20px auto 0 auto;
    box-shadow: 0 0 6px hsl(210 14% 90%);
  }

  .grid{
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
    margin-left: 10px;
  }
  
 